@media (min-width: 769px) {
  .manufacturer {
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 8px;
  }
}
@media (max-width: 768px) {
  .manufacturer {
    padding-bottom: 71.15px;
    padding-left: 8px;
    padding-right: 8px;
  }
}