@page "/manufacturers"

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@using Fluxor
@using ProjectHermes.ShoppingList.Frontend.Redux.Manufacturers.Actions
@using ProjectHermes.ShoppingList.Frontend.Redux.Manufacturers.States

@inject IState<ManufacturerState> State
@inject IDispatcher Dispatcher

@namespace ProjectHermes.ShoppingList.Frontend.WebApp.Pages.Manufacturers

<div>
    <div class="d-flex">
        <div class="h4">Manufacturers</div>
        <Button @onclick="@OnCreateManufacturerButtonClicked" Class="d-flex align-items-center ml-auto">
            <i class="bi bi-plus-lg"></i>
        </Button>
    </div>
    <div>
        <Input TValue="string" @bind-value="@input" 
               OnPressEnter="@OnLoadButtonClicked" 
               Placeholder="Manufacturer name ..."></Input>
        <Button @onclick="@OnLoadButtonClicked" Class="mt-2">Load</Button>
    </div>
    <div>
        @foreach (var searchResult in State.Value.Search.SearchResults)
        {
            <SearchResult Model="searchResult" TAction="EditManufacturerAction"></SearchResult>
        }
    </div>
</div>

@code {
    private string input = "";
    
    private void OnLoadButtonClicked()
    {
        Dispatcher.Dispatch(new SearchManufacturersAction(input));
    }

    private void OnCreateManufacturerButtonClicked()
    {
        Dispatcher.Dispatch(new EditManufacturerAction
        {
            Id = Guid.Empty
        });
    }
}