app {
    --nav-mobile-height: 71.15px;
    --nav-desktop-width: 181.467px;
    --ongoing-retry-notice-height: 25px;
    /* Colors */
    --primary-color: #3498db;
    --primary-color-transparent: #3498db33;
    --secondary-color: #ffffff;
    --color-red: #e74c3c;
    --color-yellow: #f7d80f;
    --contrast-color: #3d5770;
    --secondary-contrast-color: #34495e;
    --button-border-color: #ecf0f1;
    --discreet-hint-color: #bdc3c7;
    --approve-color: #27ae60;
}

.nav-link {
    color: var(--contrast-color);
}

@media (min-width: 769px) {
    .nav-link {
        font-size: 1.2rem;
        padding: 6px 4px;
    }

        .nav-link:hover,
        .nav-link-ext:hover {
            color: var(--secondary-color);
        }

    .ant-modal-wrap {
        margin-left: 181.5px;
    }
}

@media (max-width: 768px) {
    .nav-link {
        padding: 0;
        flex-direction: column;
    }
}

.validation-error-message {
    color: red;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    margin-left: 12px;
}

.item-editing .remove-item {
    border-color: var(--button-border-color);
}

.item-editing .quantity-input {
    width: 70px;
}

/* shopping list */
.ant-input-number.price-update-input {
    width: 95px;
}

.shopping-list-summary-finish-time-editing {
    color: var(--approve-color);
}

/* item editor */
.item-editor .in-packet-input {
    width: 60px;
}

/* recipes */
.recipes .recipe-search-tabs {
    width: 100%;
}

.editor-number-of-servings .editor-number-of-servings-input {
    width: 55px;
}

hr {
    margin: 10px 0 10px 0;
    background-color: var(--primary-color);
    opacity: 0.5;
}