<div class="outer-container" @onclick="OnItemClicked">
    <div>@Item.Name</div>
    <div>@Item.PricePerQuantity</div>
</div>

@code {
    [Parameter]
    public EntityModels.ItemDto Item { get; set; }

    [Parameter]
    public EventCallback<EntityModels.ItemDto> ItemSelectedCallback { get; set; }

    private void OnItemClicked()
    {
        ItemSelectedCallback.InvokeAsync(Item);
    }
}
