<div @onclick="OnItemCategoryClicked" class="pointer-hover">
    <div>@ItemCategory.Name</div>
</div>

@code {
    [Parameter]
    public ItemCategoryDto ItemCategory { get; set; }

    [Parameter]
    public EventCallback<ItemCategoryDto> ItemCategorySelectedCallback { get; set; }

    private void OnItemCategoryClicked()
    {
        ItemCategorySelectedCallback.InvokeAsync(ItemCategory);
    }
}
