<div @onclick="OnManufacturerClicked" class="pointer-hover">
    <div>@Manufacturer.Name</div>
</div>

@code {
    [Parameter]
    public ManufacturerDto Manufacturer { get; set; }

    [Parameter]
    public EventCallback<ManufacturerDto> ManufacturerSelectedCallback { get; set; }

    private void OnManufacturerClicked()
    {
        ManufacturerSelectedCallback.InvokeAsync(Manufacturer);
    }
}
