<div @onclick="OnManufacturerClicked" class="pointer-hover light-blue-hover">
    <div class="pl-2">@Manufacturer.Name</div>
</div>

@code {
    [Parameter]
    public ManufacturerDto Manufacturer { get; set; }

    [Parameter]
    public EventCallback<ManufacturerDto> ManufacturerSelectedCallback { get; set; }

    private void OnManufacturerClicked()
    {
        ManufacturerSelectedCallback.InvokeAsync(Manufacturer);
    }
}
