<li>
    <div class="row">
        <div class="col-8">
            <BSBasicInput T="string" Value="@Item.Name" ValueChanged="OnItemNameChanged"></BSBasicInput>
        </div>
        <div class="col-4">
            <BSBasicInput T="decimal"></BSBasicInput>
            <BSButton type="button" @onclick="DecrementAmount">-</BSButton>
            <BSButton type="button" @onclick="IncrementAmount">+</BSButton>
        </div>
    </div>
</li>

@code {
    [Parameter]
    public ShoppingList.Database.Entities.Item Item { get; set; }

    [Parameter]
    public EventCallback<ShoppingList.Database.Entities.Item> ItemChangedCallback { get; set; }

    private void IncrementAmount()
    {
        
    }

    private void DecrementAmount()
    {
        
    }

    private void OnItemNameChanged(string newValue)
    {
        Item.Name = newValue;
        ItemChangedCallback.InvokeAsync(Item);
    }
}
