<li class="shopping-item">
    <div class="row p-1">
        <div class="row col-xl-10 col-lg-10 col-md-11 col-11">
            <div class="col-xl-3 col-lg-3 col-md-12 sol-12">
                @ItemDto.Name
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-12 row">
                <div class="col-xl-8 col-lg-8 col-md-7 col-7 pr-0">
                    <!-- The input will be disabled until I can prevent
                    the user from inputting letters - without using an InputType-->
                    <BSBasicInput T="int"
                                  Value="@Quantity"
                                  @onfocusout="OnQuantityChanged"
                                  IsDisabled="true"></BSBasicInput>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-5 col-5">
                    <BSButtonGroup>
                        <BSButton Color="Color.Danger" type="button" @onclick="DecrementAmount">
                            <span class="oi oi-minus"></span>
                        </BSButton>
                        <BSButton Color="Color.Success" type="button" @onclick="IncrementAmount">
                            <span class="oi oi-plus"></span>
                        </BSButton>
                    </BSButtonGroup>
                </div>
            </div>
        </div>
        <div class="ml-auto col-xl-2 col-lg-2 col-md-1 col-1 remove-button">
            <BSButton Color="Color.Danger" Class="float-right" type="button" @onclick="OnRemoveButtonClicked">
                <span class="oi oi-x"></span>
            </BSButton>
        </div>
    </div>
</li>

@code {
    [Parameter]
    public EntityModels.ItemDto ItemDto { get; set; }

    [Parameter]
    public EventCallback<EntityModels.ItemDto> ItemChangedCallback { get; set; }

    [Parameter]
    public EventCallback<EntityModels.ItemDto> RemoveItemCallback { get; set; }

    // BlazorStrap currently doesn't support uint as a Type in BSBasicInput,
    // so the ItemDto.Quantity must be converted to int until this is fixed
    private int Quantity;

    private uint SingleQuantityUnit;

    protected override void OnInitialized()
    {
        SingleQuantityUnit = GetSingleQuantityUnit();
        UpdateQuantity();
    }

    private void IncrementAmount()
    {
        ItemDto.Quantity += SingleQuantityUnit;
        UpdateQuantity();
        UpdateItem();
    }

    private void DecrementAmount()
    {
        if(ItemDto.Quantity - SingleQuantityUnit > ItemDto.Quantity)
        {
            ItemDto.Quantity = 0;
        }
        else
        {
            ItemDto.Quantity -= SingleQuantityUnit;
        }
        UpdateQuantity();
        UpdateItem();
    }

    private void UpdateQuantity()
    {
        Quantity = (int)ItemDto.Quantity;
    }

    private uint GetSingleQuantityUnit()
    {
        switch (ItemDto.QuantityType)
        {
            case EntityModels.QuantityType.Unit:
                return 1;
            case EntityModels.QuantityType.Weight:
                return 100;
            default:
                throw new Exception($"Unknown type {ItemDto.QuantityType} encountered");
        }
    }

    private void OnQuantityChanged()
    {
        if (Quantity < 0)
            Quantity = 0;

        ItemDto.Quantity = (uint)Quantity;
        UpdateItem();
    }

    private void OnItemNameChanged(string newValue)
    {
        ItemDto.Name = newValue;
        UpdateItem();
    }

    private void OnRemoveButtonClicked()
    {
        RemoveItemCallback.InvokeAsync(ItemDto);
    }

    private void UpdateItem()
    {
        ItemChangedCallback.InvokeAsync(ItemDto);
    }
}
