@using ShoppingList.EntityModels.DataTransfer;

<div class="store-list-item d-flex flex-column p-1" @onclick="OnItemClicked">
    <div class="h4">@StoreDto.Name</div>
    <div>@AvailableItemsCount items available</div>
</div>

@code
{
    [Parameter]
    public StoreDto StoreDto { get; set; }
    [Parameter]
    public int AvailableItemsCount { get; set; }
    [Parameter]
    public EventCallback<StoreDto> OnStoreListItemClicked { get; set; }

    private void OnItemClicked()
    {
        OnStoreListItemClicked.InvokeAsync(StoreDto);
    }
}