@using ShoppingList.EntityModels.DataTransfer;

<div class="store-list-item d-flex flex-column p-1">
    <div class="h4">Testname</div>
    <div>@AvailableItemsCount items available</div>
</div>

@code
{
    [Parameter]
    public StoreDto StoreDto { get; set; }
    [Parameter]
    public int AvailableItemsCount { get; set; }
}