@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@using Fluxor
@using ProjectHermes.ShoppingList.Frontend.Redux.Items.Actions.Editor
@using ProjectHermes.ShoppingList.Frontend.Redux.Items.States

@inject IState<ItemState> State
@inject IDispatcher Dispatcher

<div id="itemTypes">
    <div class="mt-3 d-flex justify-content-start align-items-center">
        <div class="pt-2 pb-2 mr-2">Types</div>
        <Button class="d-flex align-items-center" Size="@AntSizeLDSType.Small" OnClick="OnAddItemTypeButtonClicked">
            <i class="bi bi-plus-lg"></i>
        </Button>
    </div>
    <div class="pl-4">
        @for(int i = 0; i < State.Value.Editor.Item!.ItemTypes.Count; i++)
        {
            <ItemType Model="@State.Value.Editor.Item!.ItemTypes.ElementAt(i)"></ItemType>
            @if (i < State.Value.Editor.Item.ItemTypes.Count - 1)
            {
                <hr class="my-0"/>
            }
        }
    </div>
</div>

@code {
    private void OnAddItemTypeButtonClicked()
    {
        Dispatcher.Dispatch(new ItemTypeAddedAction());
    }
}
