@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@using Fluxor
@using ProjectHermes.ShoppingList.Frontend.Redux.Items.Actions.Editor
@using ProjectHermes.ShoppingList.Frontend.Redux.Items.States

@inject IState<ItemState> State
@inject IDispatcher Dispatcher

<div class="itemType p-2 mt-2">
    <div class="d-flex">
        <div class="name">
            <Input TValue="string" Value="@Model.Name"
                   ValueChanged="OnNameChanged" Placeholder="Type name ..."></Input>
        </div>
        <div class="ml-2 ml-auto">
            <Button Class="d-flex align-items-center"
                    OnClick="@OnRemoveItemTypeButtonClicked"
                    Danger="true">
                <Icon Type="minus"></Icon>
            </Button>
        </div>
    </div>
    <div class="availabilities">
        <Availabilities Available="@Model"></Availabilities>
    </div>
</div>

@code {
    [Parameter] public EditedItemType Model { get; set; }

    private void OnNameChanged(string name)
    {
        Dispatcher.Dispatch(new ItemTypeNameChangedAction(Model, name));
    }

    private void OnRemoveItemTypeButtonClicked()
    {
        Dispatcher.Dispatch(new ItemTypeRemovedAction(Model));
    }
}
