input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}

.left-part{
    border-right: 0.5px solid grey;
}

.pointer-hover:hover {
    cursor: pointer;
}

.default-hover:hover{
    cursor: default
}

.border-round-25{
    border-radius: 25px;
}