.w-max-800 {
    max-width: 800px;
}

.w-max-500{
    max-width: 500px;
}

.w-max-400 {
    max-width: 400px;
}

.w-max-300 {
    max-width: 300px;
}

.w-max-200 {
    max-width: 200px;
}

.w-max-100{
    max-width: 100px;
}

.w-max-70 {
    max-width: 70px;
}

.w-max-60 {
    max-width: 60px;
}

.w-max-55 {
    max-width: 55px;
}

.w-max-50 {
    max-width: 50px;
}