.shopping-item{
    /*border: 0.5px solid grey;*/
    margin-bottom: 5px;
    color: white;
}

.green {
    background-color: #009432;
}

.red {
    background-color: #eb4d4b;
}

li {
    list-style-type: none;
}

/*button.decrement-amount {
    border: 0.5px solid black;
    border-right: 0px;
}

button.increment-amount {
    border: 0.5px solid white;
    border-left: 0px;
}*/

.border-black {
    border: 0.5px solid black;
}