.ant-modal-content .ant-modal-header {
    border-bottom: 0;
}

.ant-modal-content .ant-modal-body {
    padding-top: 0;
}

.ant-modal-content .ant-modal-footer {
    margin: 0 16px 0 24px;
    padding: 10px 0;
}

.ant-modal-close {
    margin-top: -8px;
}

.summary-datetime {
    color: grey;
    font-size: 10px;
    margin-top: -5px;
}

.summary-price {
    font-size: 16px;
}