@using ProjectHermes.ShoppingList.Frontend.Models;
@using ProjectHermes.ShoppingList.Frontend.WebApp.Pages.Stores.Models;

<li class="list-style-non filter-result-outer-frame py-2" @onclick="@OnStoreClicked">
    <div class="ml-2">@Store.Name</div>
</li>

@code {
    [Parameter] public StoresState State { get; set; }
    [Parameter] public Store Store { get; set; }

    private void OnStoreClicked()
    {
        State.EnterEditor(Store);
    }
}