@using Fluxor
@using ProjectHermes.ShoppingList.Frontend.Models.Shared
@using ProjectHermes.ShoppingList.Frontend.WebApp.Store.Shared.Actions

@typeparam TAction where TAction : ISearchResultTriggerAction, new()

@inject NavigationManager _navigationManager
@inject IDispatcher Dispatcher

<div class="search-result p-2" @onclick="OnItemClicked">
    <div>@Model.Name</div>
</div>

@code {
    [Parameter]
    public ISearchResult Model { get; set; }
    [Parameter]
    public TAction Action { get; set; }

    private void OnItemClicked()
    {
        var action = new TAction
        {
            Id = Model.Id
        };
        Dispatcher.Dispatch(action);
    }
}