ul {
    list-style-type: none;
    padding-left: 8px;
    padding-top: 48px;
}

li {
    padding-bottom: 16px;
}

.other-nav-menu {
    width: 100%;
}

.other-nav-menu .bi,
.other-nav-menu div {
    font-size: 1.2rem;
}

.other-nav-link div,
.other-nav-link i {
    color: var(--primary-color);
}

.other-nav-link i {
    margin-right: 8px;
}