.top-row {
    font-size: 1.2rem;
    color: var(--secondary-contrast-color);
    margin-top: 4px;
}

.user-info {
    cursor: pointer;
}

.user-info i {
    padding-left: 4px;
    padding-right: 4px;
}

.user-box {
    position: absolute;
    top: 40px;
    right: 8px;
    background: var(--secondary-color-shade-1);
    border: 1px solid var(--primary-color);
    width: 150px;
    color: var(--secondary-contrast-color-shade-1);
    padding-left: 4px;
    font-size: 1.2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

    .user-box div i {
        padding-right: 4px;
    }

.user-box-entry {
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding-left: 0;
    padding-top: 24px;
}

li {
    padding-bottom: 16px;
}

.other-nav-menu {
    width: 100%;
}

.other-nav-menu .bi,
.other-nav-menu div {
    font-size: 1.2rem;
}

.other-nav-link div,
.other-nav-link i {
    color: var(--secondary-contrast-color);
}

.other-nav-link i {
    margin-right: 8px;
}