﻿@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.Extensions.Logging
@using Components.Common

@inherits LayoutComponentBase

@inject ILogger<MainLayout> Logger

<NavMenu />

<div class="main">
    <div class="content">
        @Body
    </div>

    <ErrorBoundary @ref="_errorBoundary">
        <ErrorContent Context="ex">
            @{ Logger.LogError(ex, "An unhandled exception occurred"); }
        </ErrorContent>
    </ErrorBoundary>
</div>

@code {

    private ErrorBoundary _errorBoundary;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        _errorBoundary?.Recover();
    }
}