li {
  list-style-type: none;
}
.nav-menu {
  z-index: 999;
}
@media (min-width: 769px) {
  .nav {
    flex-direction: column;
    padding: 0 12px;
  }
  .nav-menu {
    position: sticky;
    left: 0;
    top: 0;
    background-color: #3498db;
    height: 100vh;
  }
  .nav-link i {
    padding-right: 8px;
  }
  .nav-link.active div,
  .nav-link.active i {
    color: #ffffff;
  }
  .nav-item,
  .nav-item-ext {
    padding: 6px 0;
  }
  .nav-item-menu {
    width: 0;
    height: 0;
    visibility: hidden;
    padding: 0;
  }
}
@media (max-width: 768px) {
  .nav-menu {
    position: fixed;
    bottom: 0;
    background-color: #3498db;
    width: 100%;
  }
  .nav-menu .bi {
    font-size: 1rem;
  }
  .nav-link div,
  .nav-link i {
    color: #34495e;
  }
  .nav-link.active div,
  .nav-link.active i {
    color: #ffffff;
  }
  .nav-menu-ext {
    position: fixed;
    bottom: 63.15px;
    right: 0;
    background-color: #3498db;
    padding: 0 8px;
  }
  .nav-item-menu {
    cursor: pointer;
  }
  .nav-item-ext {
    padding-top: 4px;
  }
  .nav-menu-ext-collapse {
    visibility: hidden;
  }
}