div.nav-menu {
  position: fixed;
  bottom: 0;
  background-color: #3498db;
  width: 100%;
}
.nav-menu .bi {
  font-size: 1rem;
}
.nav-link div,
.nav-link i {
  color: #34495e;
}
.nav-link.active div,
.nav-link.active i {
  color: #ffffff;
}
.nav .nav-item .nav-link {
  padding: 0 0 0 0;
}