@media (min-width: 769px) {
    .view-main {
        max-width: 1200px;
        margin: 0 auto;
    }

    .view-content {
        display: flex;
    }

        .view-content .ingredients {
            padding-right: 20px;
            flex: 1 1 0;
            display: flex;
            flex-direction: column;
            max-width: 200px;
        }

        .view-content .preparation-steps {
            flex: 1 1 0;
            display: flex;
            flex-direction: column;
            padding-left: 20px;
        }

    .ingredients {
        padding-top: 24px;
    }

    .preparation-steps {
        padding-top: 24px;
    }
}

@media (max-width: 768px) {
    .view-top-row-item:nth-child(3) {
        order: 4;
        flex-basis: 100%;
        margin-left: 62px;
    }

    .view-top-row-item:nth-child(4) {
        order: 5;
        flex-basis: 100%;
        margin-left: 62px;
    }

    .ingredients {
        padding-top: 16px;
    }

    .preparation-steps {
        padding-top: 16px;
    }
}

.view-top-row-parent {
    flex-wrap: wrap;
}

.number-of-servings {
    margin-left: 16px;
}

.view-name {
    font-weight: bold;
    font-size: 21px;
}

.view-tag {
    margin-right: 4px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 5px;
    padding: 1px 3px;
}

.preparation-step-number {
    font-size: 1.5em;
    border-right: 1px solid var(--button-border-color);
}