@media (min-width: 769px) {
    .view-main {
        max-width: 1200px;
        margin: 0 auto;
    }

    .view-content {
        padding-top: 24px;
        display: flex;
    }

        .view-content .ingredients {
            margin-right: 40px;
            max-width: 200px;
        }
}

@media (max-width: 768px) {
    .ingredients, .preparation-steps {
        padding-top: 16px;
    }
}

.view-name {
    font-weight: bold;
    font-size: 21px;
}

.view-general {
    margin-top: 16px;
}

    .view-general .view-general-second-row {
        display: flex;
        margin-top: 8px;
    }

    .view-general .view-general-side-dish {
        margin-left: 25px;
    }

    .view-general .view-tag {
        margin-right: 4px;
        background-color: var(--primary-color);
        color: var(--secondary-color);
        border-radius: 5px;
        padding: 1px 3px;
    }