@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@using System.Threading
@using Fluxor
@using ProjectHermes.ShoppingList.Frontend.Redux.ShoppingList.Actions.SearchBar
@using ProjectHermes.ShoppingList.Frontend.Redux.ShoppingList.States
@using ShoppingListState = global::ProjectHermes.ShoppingList.Frontend.Redux.ShoppingList.States.ShoppingListState

@inject IState<ShoppingListState> State
@inject IDispatcher Dispatcher

<div class="d-flex">
    <Select Class="mr-1 cursor-text"
            Placeholder="Search for item..."
            ValueName="@nameof(SearchItemForShoppingListResult.SelectIdentifier)"
            LabelName="@nameof(SearchItemForShoppingListResult.DisplayValue)"
            DataSource="State.Value.SearchBar.Results"
            TItem="SearchItemForShoppingListResult"
            TItemValue="string"
            OnSelectedItemChanged="OnSearchItemSelectedAsync"
            EnableSearch
            Value="State.Value.SearchBar.Input"
            OnSearch="OnSearchInputChanged">
    </Select>
    <TemporaryItemCreator></TemporaryItemCreator>
</div>

@code {
    private void OnSearchInputChanged(string input)
    {
        Dispatcher.Dispatch(new ItemForShoppingListSearchInputChangedAction(input));
    }

    private void OnSearchItemSelectedAsync(SearchItemForShoppingListResult item)
    {
        if (item == null)
            return;

        Dispatcher.Dispatch(new ItemForShoppingListSearchResultSelectedAction(item));
    }
}