.item {
  list-style-type: none;
  color: #ffffff;
  cursor: pointer;
}
.item-editing {
  list-style-type: none;
  color: #ffffff;
}
.in-basket {
  background-color: #3498db;
}
.not-in-basket {
  background-color: #e74c3c;
}
.price-currency {
  padding-left: 2px;
}
.quantity {
  width: 44px;
}