@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@using Fluxor
@using ProjectHermes.ShoppingList.Frontend.Redux.ShoppingList.Actions
@using ProjectHermes.ShoppingList.Frontend.Redux.ShoppingList.States

@inject IState<ShoppingListState> State
@inject IDispatcher Dispatcher

<div>
    <div class="py-2 mb-1 pl-1 d-flex align-items-center section @GetBackgroundColor() @GetFontColor()" @onclick="OnSectionClicked">
        @if (Model.IsExpanded)
        {
            <Icon Type="down" Theme="outline" />
        }
        else
        {
            <Icon Type="right" Theme="outline" />
        }
        <div class="pl-1">@Model.Name</div>
    </div>
    @if (Model.IsExpanded)
    {
        <ul class="pl-3">
            @foreach (var item in Model.Items.Where(item => State.Value.ItemsInBasketVisible || !item.Hidden))
            {
                <Item Model="@item"></Item>
            }
        </ul>
    }
</div>

@code {
    [Parameter] public ShoppingListSection Model { get; set; }

    private void OnSectionClicked()
    {
        Dispatcher.Dispatch(new ToggleShoppingListSectionExpansionAction(Model.Id));
    }

    private string GetBackgroundColor()
    {
        if (Model.AllItemsInBasket)
            return "green-bg";
        if (Model.AnyItemsInBasket)
            return "warning-bg";

        return "red-bg";
    }

    private string GetFontColor()
    {
        if (Model.AllItemsInBasket || !Model.AnyItemsInBasket)
            return "white";

        return "warning-tx";
    }
}