.summary-header .summary-date-picker {
    padding-right: 5px;
}

.summary-header .summary-time-picker {
    padding-right: 5px;
}

.summary-header .summary-datetime-edit {
    padding-top: 2px;
}

.summary-datetime:hover {
    cursor: pointer;
}