.search-result:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
}

.search-result {
    color: #34495e;
}

.search-result-separator {
    border-bottom: 1px solid var(--primary-color-transparent);
}