.search-result:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.search-result {
    color: var(--secondary-contrast-color);
}

.search-result-separator {
    border-bottom: 1px solid var(--primary-color-transparent);
}