@using Fluxor
@using ProjectHermes.Xipona.Frontend.Redux.Shared.States
@using ProjectHermes.Xipona.Frontend.Redux.Shared.Actions;

@typeparam TAction where TAction : ISearchResultTriggerAction, new()

@inject IDispatcher Dispatcher

<div class="search-result p-2 container @(IsLastItem ? string.Empty : "search-result-separator")" @onclick="OnItemClicked">
    @if(ChildContent is null)
    {
        <div>@Model.Name</div>
    }
    else
    {
        @ChildContent
    }
</div>

@code {
    [Parameter]
    public ISearchResult Model { get; set; }
    [Parameter]
    public TAction Action { get; set; }
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    [Parameter]
    public bool IsLastItem { get; set; } = false;

    private void OnItemClicked()
    {
        var action = new TAction
        {
            Id = Model.Id
        };
        Dispatcher.Dispatch(action);
    }
}