.top-header {
    padding-top: 8px;
    padding-bottom: 3px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
}

.sections {
    padding-top: 6px;
}

.no-items-on-list-notice,
.all-items-in-basket-hidden-notice {
    text-align: center;
    color: #bdc3c7;
}

@media (min-width: 769px) {
    .sections {
        margin: 0 auto;
        max-width: 600px;
    }

    .shopping-content {
        margin: 0 auto;
        max-width: 600px;
    }
}

@media (max-width: 768px) {
    .top-header {
        padding-left: 4px;
        padding-right: 4px;
    }
}