@media (min-width: 769px) {

    .recipe-editor {
        max-width: 800px;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .recipe-editor {
        padding-bottom: var(--nav-mobile-height);
        padding-left: 8px;
        padding-right: 8px;
    }
}