.green {
    color: #2C8235;
}

.green-bg {
    background-color: #2C8235;
}

.red {
    color: #FF7875;
}

.red-bg {
    background-color: #FF7875;
}

.white {
    color: white;
}

.white-bg {
    background-color: white;
}