@import 'colors.less';
@import 'sizes.less';

.nav-link {
    color: @inactive-color;
}

@media (min-width: @desktop-view-size) {
    .nav-link {
        font-size: 1.2rem;
        padding: 6px 4px;
    }

    .nav-link:hover,
    .nav-link-ext:hover {
        color: @secondary-color;
    }

    .ant-modal-wrap {
        margin-left: @desktop-menu-width;
    }
}

@media (max-width: @mobile-view-size) {
    .nav-link {
        padding: 0;
        flex-direction: column;
    }
}

.item-editing .remove-item {
    border-color: @button-border-color;
}

.item-editing .quantity-input {
    width: 70px;
}

.ant-select-multiple span.ant-select-selection-item {
    background-color: @primary-color;
    color: @secondary-color;
    border-radius: 5px;
}

/* shopping list */

.ant-input-number.price-update-input {
    width: 95px;
}

/* item editor */
.item-editor .in-packet-input {
    max-width: 60px;
}

/* recipes */

.recipes .recipe-search-tabs {
    width: 100%;
}

.editor-number-of-servings .editor-number-of-servings-input {
    width: 55px;
}