.items {
  max-width: 600px;
  margin: 0 auto;
}
.no-items-found-notice {
  text-align: center;
  color: #bdc3c7;
}
@media (min-width: 769px) {
  .items {
    padding-bottom: 8px;
  }
}
@media (max-width: 768px) {
  .top-bar {
    margin-left: 8px;
    margin-right: 8px;
  }
  .items {
    padding-bottom: 71.15px;
  }
}