@page "/items"

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@using Fluxor
@using ProjectHermes.ShoppingList.Frontend.Redux.Items.Actions
@using ProjectHermes.ShoppingList.Frontend.WebApp.Components.Items.Filter;

@inject IDispatcher Dispatcher

@namespace ProjectHermes.ShoppingList.Frontend.WebApp.Pages.Items

<div>
    <ItemFilter></ItemFilter>
</div>


@code {
    protected override void OnInitialized()
    {
        Dispatcher.Dispatch(new EnterItemSearchPageAction());
        base.OnInitialized();
    }
}