@page "/items"

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@using Fluxor
@using ProjectHermes.ShoppingList.Frontend.Redux.Items.Actions
@using ProjectHermes.ShoppingList.Frontend.Redux.Items.Actions.Editor
@using ProjectHermes.ShoppingList.Frontend.Redux.Items.States
@using ProjectHermes.ShoppingList.Frontend.WebApp.Components.Items.Filter;

@inject IState<ItemState> State
@inject IDispatcher Dispatcher

@namespace ProjectHermes.ShoppingList.Frontend.WebApp.Pages.Items

<div class="pt-2 items">
    <div class="top-bar d-flex">
        <ItemFilter></ItemFilter>
        <div class="d-flex ml-auto">
            <Tooltip Placement="Placement.BottomRight" Title="@("Create new item")">
                <Button Type="@ButtonType.Primary" @onclick="OnCreateItemButtonClicked" 
                        Class="d-flex align-items-center ml-auto">
                    <i class="bi bi-plus-lg"></i>
                </Button>
            </Tooltip>
        </div>
    </div>
    <div class="mt-2">
        @if (@State.Value.Search.TriggeredAtLeastOnce && State.Value.Search.SearchResults.Count == 0)
        {
            <div class="no-items-found-notice">
                No items found
            </div>
        }
        <!-- result item list -->
        @foreach (var item in State.Value.Search.SearchResults)
        {
            <SearchResult Model="item" TAction="EditItemAction"></SearchResult>
        }
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        Dispatcher.Dispatch(new EnterItemSearchPageAction());
        base.OnInitialized();
    }

    private void OnCreateItemButtonClicked()
    {
        Dispatcher.Dispatch(new EditItemAction
        {
            Id = Guid.Empty
        });
    }
}