@page "/Recipes"

@using ProjectHermes.ShoppingList.Frontend.WebApp.Pages.Recipes.Models;
@using ProjectHermes.ShoppingList.Frontend.WebApp.Pages.Recipes.Services;

@inject NavigationManager _navigationManager;
@inject RecipesState _state;
@inject IRecipesApiService _apiService

<h3>Recipes</h3>

@code {
    
}