@media (min-width: 1500px) {
    .recipe-editor-main,
    .recipe-editor-view-main {
        width: 60%;
    }
}

@media (min-width: 1200px) and (max-width: 1499.98px) {
    .recipe-editor-main,
    .recipe-editor-view-main {
        width: 70%;
    }
}

@media (min-width: 1080px) and (max-width: 1199.98px) {
    .recipe-editor-main,
    .recipe-editor-view-main {
        width: 80%;
    }
}

@media (min-width: 1080px) {
    .recipe-editor-main,
    .recipe-editor-view-main {
        max-width: 1200px;
        margin: 0 auto;
    }

    .recipe-editor-content,
    .recipe-editor-view-content {
        display: flex;
    }

    .recipe-editor-content .ingredients,
    .recipe-editor-view-content .ingredients {
        padding-right: 20px;
        flex: 1 1 0;
        display: flex;
        flex-direction: column;
    }

    .recipe-editor-content .preparation-steps,
    .recipe-editor-view-content .preparation-steps {
        padding-left: 20px;
        flex: 1 1 0;
        display: flex;
        flex-direction: column;
    }

    .recipe-editor-content .ingredients,
    .recipe-editor-content .preparation-steps {
        max-width: 500px;
    }

    .recipe-editor-view-content .ingredients {
        max-width: 200px;
    }

    .recipe-editor-view-content .preparation-steps {
        max-width: 700px;
    }
}

@media (max-width: 1079.98px) {
    .recipe-editor {
        padding-right: 10px;
        padding-left: 10px;
    }

    .recipe-editor-content,
    .recipe-editor-view-content {
        display: block;
    }

    .recipe-editor-top-row:nth-child(3) {
        order: 4;
        flex-basis: 100%;
        margin-top: 5px;
        margin-left: 62px;
    }

    .recipe-editor-top-row:nth-child(4) {
        order: 5;
        flex-basis: 100%;
        margin-top: 5px;
        margin-left: 62px;
    }
}

.recipe-editor-top-row-parent {
    flex-wrap: wrap;
}

.recipe-editor-top-row-number-of-servings {
    margin-left: 16px;
}

.recipe-editor-view-name {
    font-weight: bold;
    font-size: 21px
}

.recipe-editor-view-tag {
    margin-right: 4px;
    background-color: #eaeaea;
    padding: 1px 3px;
}

hr {
    margin: 10px 0 10px 0;
}