@using ProjectHermes.ShoppingList.Frontend.Models.Items;
@using ProjectHermes.ShoppingList.Frontend.WebApp.Services.Error;

@inject ProjectHermes.ShoppingList.Frontend.WebApp.Services.Items.IItemsPageLoadingService loadingService;

<div class="filter-result-outer-frame p-2" @onclick="@OnItemClicked">
    <div>@Item.Name</div>
</div>

@code {
    [Parameter] public ItemsState State { get; set; }
    [Parameter] public IAsyncRetryFragmentCreator FragmentCreator { get; set; }
    [Parameter] public SearchItemResult Item { get; set; }

    private async Task OnItemClicked()
    {
        var item = await loadingService.LoadItemAsync(Item.ItemId, FragmentCreator);
        if (item == null)
            return;

        State.EnterEditor(item);
    }
}