@using ProjectHermes.ShoppingList.Frontend.Models.Items;
@using ProjectHermes.ShoppingList.Frontend.WebApp.Pages.Items.Services
@using ProjectHermes.ShoppingList.Frontend.WebApp.Services.Error;

@inject IItemsApiService loadingService;

<div class="filter-result-outer-frame p-2" @onclick="@OnItemClicked">
    <div>@Item.Name</div>
</div>

@code {
    [Parameter] public ItemsState State { get; set; }
    [Parameter] public IAsyncRetryFragmentCreator FragmentCreator { get; set; }
    [Parameter] public SearchItemResult Item { get; set; }

    private async Task OnItemClicked()
    {
        await loadingService.LoadItemAsync(Item.ItemId, FragmentCreator, item => State.EnterEditor(item));
    }
}