@using ProjectHermes.ShoppingList.Frontend.WebApp.Services.Error
@using ProjectHermes.ShoppingList.Frontend.Models.Items
@using ProjectHermes.ShoppingList.Frontend.WebApp.Pages.Items.Services


@inject IItemsApiService loadingService;

<div>
    <Input TValue="string" @bind-value="@input"></Input>
    <Button @onclick="@OnLoadButtonClickedAsync" Class="mt-2">Load</Button>
</div>

@code {
    [Parameter] public ItemsState State { get; set; }
    [Parameter] public IAsyncRetryFragmentCreator FragmentCreator { get; set; }

    private string input = "";

    private async Task OnLoadButtonClickedAsync()
    {
        await loadingService.SearchItemsAsync(input, FragmentCreator, items => State.UpdateItems(items));
    }
}
