@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@using Fluxor
@using ProjectHermes.ShoppingList.Frontend.Redux.ShoppingList.Actions.Processing
@using ProjectHermes.ShoppingList.Frontend.Redux.ShoppingList.States

@inject IState<ShoppingListState> State
@inject IDispatcher Dispatcher

<div class="pr-2">
    <Switch Checked="@State.Value.Errors.IsDebug" 
            CheckedChildren="Dbg" 
            UnCheckedChildren="Dbg" 
            OnChange="OnToggle" />
</div>

@code {
    private void OnToggle()
    {
        Dispatcher.Dispatch(new ToggleDebugAction());
    }
}