@using ProjectHermes.ShoppingList.Frontend.Models.Common;

<div class="pr-2">
    <Switch Checked="@DebugHandler.IsDebug" CheckedChildren="Dbg" UnCheckedChildren="Dbg" OnChange="() => DebugHandler.ToggleDebugState()" />
</div>

@code {
    [Parameter] public IDebugHandler DebugHandler { get; set; }

}