<div class="d-flex p-2 mb-2 warning-bg">
    <div>
        An error occured while processing your requests. Any changes were discarded. Please reload the page.
    </div>
    <div class="ml-auto">
        <Button Class="d-flex align-items-center justify-content-center"
                OnClick="@ReloadCallback"
                Icon="reload"
                Size="@AntSizeLDSType.Small"></Button>
    </div>
</div>

@code{
    [Parameter] public Func<Task> ReloadCallback { get; set; }
}