@font-face {
    font-family: BalooPaaji;
    src: url(../fonts/Baloo_Paaji_2/BalooPaaji2-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: BalooPaaji;
    src: url(../fonts/Baloo_Paaji_2/BalooPaaji2-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: BalooPaaji;
    src: url(../fonts/Baloo_Paaji_2/BalooPaaji2-SemiBold.ttf);
    font-weight: 600;
}