@media (min-width: 769px) {
    .item-category {
        margin-left: 8px;
    }
    .manufacturer {
        margin-left: 8px;
    }
    .selection-row {
        display: flex;
    }
}

@media (max-width: 768px) {
    .store {
        margin-top: 8px;
    }
    .item-category {
        margin-top: 8px;
    }
    .manufacturer {
        margin-top: 8px;
    }
}