@using EntityModels;
@using ShoppingList.Util;

<li class="list-item @(IsSelected ? "selected" : "")">
    <div class="d-flex flex-column p-1" @onclick="OnItemClicked">
        <div class="h4">@ItemDto.Name</div>
        <div></div>
        <div>@ItemDto.PricePerQuantity€@(LabelTranslator.GetQuantityPriceLabel(ItemDto.QuantityType))</div>
    </div>
</li>

@code
{
    [Parameter]
    public ItemDto ItemDto { get; set; }
    [Parameter]
    public string StoreName { get; set; }
    [Parameter]
    public bool IsSelected { get; set; }
    [Parameter]
    public EventCallback<ItemDto> OnItemListItemClicked { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    private void OnItemClicked()
    {
        OnItemListItemClicked.InvokeAsync(ItemDto);
    }
}
