<div @onclick="OnItemCategoryClicked" class="pointer-hover light-blue-hover">
    <div class="pl-2">@ItemCategory.Name</div>
</div>

@code {
    [Parameter]
    public ItemCategoryDto ItemCategory { get; set; }

    [Parameter]
    public EventCallback<ItemCategoryDto> ItemCategorySelectedCallback { get; set; }

    private void OnItemCategoryClicked()
    {
        ItemCategorySelectedCallback.InvokeAsync(ItemCategory);
    }
}
