@page "/"
@inject DbContextOptions<ShoppingContext> dbContextOptions

<h1>Shopping List</h1>

<div>
    <BSDropdown>
        <BSDropdownToggle Color="Color.Primary">@activeStore?.Name</BSDropdownToggle>
        <BSDropdownMenu>
            @foreach (Database.Entities.Store store in stores)
            {
                <BSDropdownItem>
                    <CustomDropdownItem T="Database.Entities.Store"
                                        Item="@store" 
                                        DropdownText="@store.Name" 
                                        OnClickCallback="OnChangeStore">

                    </CustomDropdownItem>
                </BSDropdownItem>
            }
        </BSDropdownMenu>
    </BSDropdown>
</div>
<div class="row">
    <BSBasicInput Class="col-11" T="string" @bind-Value="newShoppingItemName"></BSBasicInput>
    <BSButton Class="col-1" @onclick="AddItemToList">Add</BSButton>
</div>
<div>
    @foreach(var item in itemSuggestions)
    {
        <ItemSearchSuggestion Item="@item"></ItemSearchSuggestion>
    }
</div>
<div>
    <ul id="shoppingList">
        @foreach (var shoppingItem in shoppingItems)
        {
            <ShoppingListItem Item="shoppingItem" ItemChangedCallback="UpdateItem"></ShoppingListItem>
        }
    </ul>
</div>



@code {
    private List<Database.Entities.Item> shoppingItems = new List<Database.Entities.Item>();
    private List<Database.Entities.Item> itemSuggestions = new List<Database.Entities.Item>();
    private List<Database.Entities.Store> stores = new List<Database.Entities.Store>();
    private Database.Entities.Store activeStore;
    private int nextId = 0;
    private string newShoppingItemName;
    private IShoppingRepository shoppingRepository;

    protected async override void OnInitialized()
    {
        shoppingRepository = new ShoppingRepository(dbContextOptions);

        stores = await shoppingRepository.GetAllStoresAsync();
        itemSuggestions = shoppingRepository.SearchItems("e");
        activeStore = stores.Count > 0 ? stores.First() : null;
    }

    private void OnChangeStore(Database.Entities.Store store)
    {
        activeStore = store;
    }

    private void OnSearchItemSelected(Database.Entities.Item item)
    {
        //todo
    }

    private void AddItemToList()
    {
        //replace this when item preview is implemented
        //shoppingItems.Add(GenerateNewShoppingItem(newShoppingItemName));
        //nextId++;
    }

    private Database.Entities.Item GenerateNewShoppingItem(string itemName)
    {
        return new Database.Entities.Item
        {
            ItemId = (uint)nextId,
            Name = "testitem",
            QuantityType = new Database.Entities.QuantityType(),
            Quantity = 2m,
            PricePerQuantity = 3.4m
        };
    }

    private void UpdateItem(Database.Entities.Item item)
    {
        //save
    }
}