@media (min-width: 769px) {
  .stores-search {
    margin: 0 auto;
    max-width: 600px;
  }
}
@media (max-width: 768px) {
  .stores-search {
    padding-bottom: 71.15px;
    padding-left: 8px;
    padding-right: 8px;
  }
}