@page "/stores"

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@using Fluxor
@using ProjectHermes.ShoppingList.Frontend.Redux.Stores.Actions
@using ProjectHermes.ShoppingList.Frontend.Redux.Stores.Actions.Editor
@using ProjectHermes.ShoppingList.Frontend.Redux.Stores.States

@inject IDispatcher Dispatcher
@inject IState<StoreState> State

@namespace ProjectHermes.ShoppingList.Frontend.WebApp.Pages.Stores

<div class="d-flex">
    <div class="h4">Stores</div>
    <Button @onclick="@OnCreateStoreButtonClicked" Class="d-flex align-items-center ml-auto">
        <Icon Type="plus"></Icon>
    </Button>
</div>
<div>
    <ol class="pl-0">
        @foreach (var searchResult in State.Value.SearchResults)
        {
            <SearchResult Model="searchResult" TAction="EditStoreAction"></SearchResult>
        }
    </ol>
</div>

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
        Dispatcher.Dispatch(new StorePageInitializedAction());
        Dispatcher.Dispatch(new LoadStoresOverviewAction());
    }

    private void OnCreateStoreButtonClicked()
    {
        Dispatcher.Dispatch(new EditStoreAction
        {
            Id = Guid.Empty
        });
    }
}