@media (min-width: 769px) {
    .preparation-steps {
        flex: 1 1 0;
        display: flex;
        flex-direction: column;
    }

    .collapse-arrow, .headline {
        cursor: pointer;
    }
}