@media (min-width: 769px) {
    .editor-main {
        max-width: 1200px;
        margin: 0 auto;
    }

    .editor-content-split {
        display: flex;
        padding-top: 24px;
    }

        .editor-content-split .ingredients {
            margin-right: 20px;
            width: 100%;
        }

        .editor-content-split .preparation-steps {
            width: 100%;
        }

    .recipe-editor {
        max-width: 800px;
        margin: 0 auto;
        padding-bottom: 8px;
    }
}

@media (max-width: 768px) {
    .recipe-editor {
        padding-bottom: 79.15px;
    }

    .editor-content-split .ingredients {
        padding-top: 16px;
    }

    .editor-content-split .preparation-steps {
        padding-top: 24px;
    }
}
