@media (min-width: 769px) {
    .editor-content-split {
        display: flex;
        padding-top: 16px;
    }

        .editor-content-split .ingredients {
            margin-right: 20px;
            width: 100%;
        }

        .editor-content-split .preparation-steps {
            width: 100%;
        }

    .editor-footer {
        bottom: 0;
    }
}

@media (max-width: 768px) {
    .editor-content-split .ingredients {
        padding-top: 16px;
    }

    .editor-content-split .preparation-steps {
        padding-top: 24px;
    }

    .editor-footer {
        bottom: var(--nav-mobile-height);
    }
}

.editor-footer {
    position: sticky;
    background-color: white;
    width: 100%;
    height: 48px;
    z-index: 200;
}