.item {
    list-style-type: none;
    color: var(--secondary-color);
    cursor: pointer;
}

.item-editing {
    list-style-type: none;
    color: var(--secondary-color);
}

.in-basket {
    background-color: var(--primary-color);
}

.not-in-basket {
    background-color: var(--color-red);
}

.price-currency {
    padding-left: 2px;
}

.quantity {
    width: 44px;
}

.discount-symbol {
    font-size: 60%;
}