.section:hover {
    cursor: pointer;
}

.name {
    font-size: 1.1rem;
}

.all-in-basket {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.some-in-basket {
    background-color: var(--color-yellow);
    color: var(--contrast-color);
}

.none-in-basket {
    background-color: var(--color-red);
    color: var(--secondary-color);
}