@page "/authentication/{action}"

@inject NavigationManager Navigation

@attribute [AllowAnonymous]

@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<RemoteAuthenticatorView Action="@Action">
    <LoggingIn></LoggingIn>
    <CompletingLoggingIn></CompletingLoggingIn>
    <LogOutSucceeded>
        <div class="logout-success">
            <div>You successfully logged out</div>
            <div class="login-button">
                <Button Type="@ButtonType.Primary" OnClick="LogIn">Login</Button>
            </div>
        </div>
    </LogOutSucceeded>
</RemoteAuthenticatorView>

@code{
    [Parameter] public string Action { get; set; }

    private void LogIn()
    {
        Navigation.NavigateToLogin("authentication/login", new InteractiveRequestOptions()
        {
            Interaction = InteractionType.SignIn,
            ReturnUrl = Navigation.BaseUri
        });
    }
}
