li {
    list-style-type: none;
}

.nav-menu {
    z-index: 999;
    background-color: var(--primary-color);
}

.nav-item-disabled.shopping-list .nav-link {
    color: var(--secondary-color);
}

    .nav-item-disabled.shopping-list .nav-link:hover {
        color: var(--secondary-color);
    }

.nav-item-disabled .nav-link:hover {
    cursor: pointer;
    color: grey;
}


::deep .nav-link {
    color: var(--contrast-color);
}

.nav-link.active div,
.nav-link.active i {
    color: var(--secondary-color);
}

@media (min-width: 769px) {
    .nav {
        flex-direction: column;
        padding: 0 12px;
    }

    .nav-menu {
        position: sticky;
        left: 0;
        top: 0;
        height: 100vh;
    }

    ::deep .nav-link {
        font-size: 1.2rem;
        padding: 6px 4px;
    }

    ::deep .nav-link:hover,
    .nav-link-ext:hover {
        color: var(--secondary-color);
    }

    .nav-link i {
        padding-right: 8px;
    }

    .nav-item,
    .nav-item-disabled {
        padding: 6px 0;
    }

    .nav-item-other {
        display: none;
    }

    .user {
        color: var(--contrast-color);
        font-size: 1.2rem;
        padding-left: 4px;
        width: 100%;
        position: absolute;
        bottom: 10px;
        cursor: pointer;
    }

    .user .bi {
        padding-right: 8px;
    }

        .user .bi-caret-up-fill {
            padding-left: 4px;
            color: var(--secondary-contrast-color);
        }

    .user-box {
        position: absolute;
        bottom: 50px;
        left: 12px;
        background: var(--primary-color-shade-1);
        border: 1px solid var(--secondary-color);
        width: calc(100% - 24px);
        color: var(--contrast-color-shade-1);
        padding-left: 4px;
        font-size: 1.2rem;
    }

    .user-box div i {
        padding-right: 4px;
    }

    .user-box-entry {
        cursor: pointer;
    }

        .user-box-entry:hover {
            color: var(--secondary-color);
        }
}

@media (max-width: 768px) {
    .nav-menu {
        position: fixed;
        bottom: 0;
        width: 100%;
    }

        .nav-menu .bi {
            font-size: 1rem;
        }

    ::deep .nav-link {
        padding: 0;
        flex-direction: column;
    }

    .hide-mobile {
        display: none;
    }
}