@using ProjectHermes.ShoppingList.Frontend.Models.Manufacturers.Models

@inject NavigationManager _navigationManager;

<div class="search-result p-2" @onclick="OnItemClicked">
    <div>@Model.Name</div>
</div>

@code {
    [Parameter]
    public ManufacturerSearchResult Model { get; set; }

    private void OnItemClicked()
    {
        _navigationManager.NavigateTo($"manufacturers/{Model.Id}");
    }
}
